* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  font-size: 25px;
  font-weight: bold;
  margin: 30px 0;
}

.winner {
  font-size: 25px;
  padding: 10px;
  color: blueviolet;
  font-style: italic;
  transform: translateX(0px);
  opacity: 1;
}

.board {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.square {
  width: 100px;
  height: 100px;
  border: solid 1px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90px;
  cursor: pointer;
  user-select: none;
}
.x {
  color: red;
}

.o {
  color: blue;
}

.square:hover {
  background: #eee;
}

.clean-board {
  padding: 20px 40px;
  margin: 30px 0;
  border-radius: 50%;
  border: none;
  background: coral;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  color: firebrick;
}

.clean-board:hover {
  background: #eaae98;
}
